<%- include('./partials/header.ejs', {title: 'About Page' }) %>
  <%- include('./partials/navbar.ejs') %>

    <!-- <div class="center-element" style="display: flex; align-items: center; justify-content: center; height: 100vh;"></div> -->

    <div class="center-element my-5" style="display: flex; align-items: center; justify-content: center;">
      <h1>About Team Showrunner</h1> <!-- placeholder - discuss with team -->
    </div>

    <!-- Grid Container START-->
    <div class="container-fluid">
      <!-- Grid row 1 START-->
      <div class="row"> 
        <!-- Grid Column 1 START-->
        <div class="col-sm-2">
          <!-- Left Sidebar START -->

          <%- include('./partials/sidebarleft.ejs') %>

            <!-- Left Sidebar END -->
        </div>
        <!-- Column 1 END -->

        <!-- Grid Column 2 - content cards START-->
      
        <!-- Content card end -->

        <!-- Right Sidebar start -->
        
        <div class="col-sm-8">
          <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px;">
            <!-- <img src="" alt="Showrunner" style="width:100%"> -->
            <div class="container">
              <h2>Our Mission</h2>
              <p class="title">The Team</p>
              <p>With the rise of streaming services, we recognized that there is a challenge in tracking new tv season
                release dates, and wanted to make it easier for people to find out when a person's favorite show is
                airing a new season. Starting as a coding class project in ACC's fullstack developer bootcamp, we
                decided to take the challenge of buliding an app together to tackle this issue.</p>
              <p></p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>

          <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px;">
            <img src="" alt="" style="width:100%">
            <div class="container">
              <h2>The Team</h2>
              <p>Aeridy, Joel, Kevin and Peter</p>
              <p>The site handlers</p>
              <p></p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>

          <div class="card d-flex justify-content-center align-items-center" style="margin-bottom: 30px;">
            <div class="container">
              <h2>The Stack</h2>
              <ul>
                <li>HTML with Express</li>
                <li>Bootstrap</li>
                <li>CSS</li>
                <li>Mongo</li>
              </ul>
              <p></p>
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <%- include('./partials/sidebarright.ejs') %>
        </div>
        
        <!-- Right Sidebar end -->
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
