    <%- include('./partials/header.ejs', {title: 'Home'}) %>
    <%- include('./partials/navbar.ejs', {username: locals.username}) %>

    <div class="container-fluid">

        <div class="row text-center my-4">
        <% if (username) { %>
            <h2>Welcome, <%= username %></h2>
        <% } else { %>
            <h2>You are not logged in</h2>
        <% } %>
        </div>

        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <%- include('./partials/card.ejs') %>
        </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
