    <%- include('./partials/header.ejs', {title: "Profile"}) %>
    <%- include('./partials/navbar.ejs', {username: user.username}) %>

    <div class="container">
        <div class="row rounded-4 my-5" style="background: #434343;">

            <div class="col-md-3 align-self-center p-5">
                <div class="d-flex justify-content-center align-items-center m-2">
                    <h4 class="text-center"><%- user.username %>'s Profile Settings</h4>
                </div>
                <div class="d-flex flex-column align-items-center text-center px-3">
                    <img class="rounded-circle my-2" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </div>
            </div>

            <!-- <div class="col-md-9 d-flex align-items-center align-self-center p-3 flex-column"> -->

                    <form class="col-md-7 my-auto" action="/update-profile" method="post">
                        <div class="flex-column">
                            <label class="form-label" for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" value="<%= user.firstName %>">
                        </div>
                        <div class="flex-column">
                            <label class="form-label" for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" value="<%= user.lastName %>">
                        </div>

                        <div class="flex-column mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email" minlength="4" value="<%= user.email %>">
                        </div>
                    </form>

                    <div class="col-md-2 my-auto">
                        <div class="text-center">
                            <button class="btn btn-primary profile-button" type="submit">
                                Save Profile
                            </button>
                        </div>

                        <div class="text-center my-2">
                            <a href="/change-password" class="btn btn-primary flex-column">Change Password</a>
                        </div>
                    </div>


            <!-- </div> -->
        </div>
    </div>

    <script src="profile.js"></script>

    <%- include('./partials/footer.ejs') %>
