    <%- include('./partials/header.ejs', {title: "Profile"}) %>
    <%- include('./partials/navbar.ejs', {username: user.username}) %>

    <div class="container">
        <div class="row rounded-4 my-5" style="background: #434343;">

            <div class="col-md-3 align-self-center p-5">
                <div class="d-flex justify-content-center align-items-center m-2">
                    <h4 class="text-center"><%- user.username %>'s Profile Settings</h4>
                </div>
                <div class="d-flex flex-column align-items-center text-center px-3">
                    <img class="rounded-circle my-2" width="150px" src="https://eu-images.contentstack.com/v3/assets/bltdd43779342bd9107/bltd09dc8210b56d1fc/63a1de93124e380d16211e80/theme1_placeholder_avatar.png?width=400&auto=webp&quality=80&disable=upscale">
                </div>
            </div>

            <form class="col-md-7 my-4" action="/update-profile" method="post">
                <div class="flex-column">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" value="<%= user.firstName %>">
                </div>
                <div class="flex-column">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" value="<%= user.lastName %>">
                </div>

                <div class="flex-column mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" minlength="4" value="<%= user.email %>">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary profile-button" type="submit">
                        Save Profile
                    </button>
                    <div class="text-center my-2">
                        <a href="/change-password" class="btn btn-primary flex-column">Change Password</a>
                    </div>
                </div>
                <% if (locals.updated) { %>
                    <p class="text-center mt-3 update-profile-text">
                        Your profile has been updated.
                    </p>
                <% } %>
            </form>
        </div>
    </div>

    <script src="profile.js"></script>

    <%- include('./partials/footer.ejs') %>
