<%- include('./partials/header.ejs', {title: 'Showrunner Search'}) %>
<%- include('./partials/navbar.ejs') %>
<body>

<div class="container p-2">
    <form action="/searchShows" method="get">
        <div class="input-group m-2">
            <input type="text" name="query" class="form-control" placeholder="Enter the name of a show">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="p-2">
    
        <% shows.forEach(element=> { %>
            <div class="row align-items-center border border-white m-2 p-2">
                <div class="col-1">
                    <form action="/addShow" method="get"> 
                        <input type="hidden" name="showId" value="<%=element.id%>">
                        <button class="btn btn-light" type="submit">Add Show</button>
                    </form>
                </div>
                <div class="col-1">
                    <img src="https://image.tmdb.org/t/p/w92<%= element.poster_path %>" alt="<%= element.name %>">
                </div>
                <div class="col-10">
                    <h5><%= element.name %> (<%= element.first_air_date %>)</h5>
                    <p><%= element.overview %></p>
                </div>
            </div>
        <% }) %>

</div>
    


<%- include('./partials/footer.ejs') %>