<%- include('./partials/header.ejs', {title: "Shows"}) %>
<%- include('./partials/navbar.ejs', {username: locals.username}) %>



<h1><%= username %></h1>
<h1><%= showId %></h1>



<%- include('./partials/footer.ejs') %>
