    <%- include('./partials/header.ejs', {title: show.showName}) %>
    <%- include('./partials/navbar.ejs', {username: locals.username}) %>

    <% const hasWatched = show.userShow?.hasWatched ?? false %>
    <% const isFavorite = show.userShow?.favorite ?? false %>
    
    <div class="container">
        <div class="row">
        <h2><%= show.showName %></h2>
        <p>popularity: <%= show.popularity %></p>
        <p>first air date: <%= show.firstAirDate.formatted() %></p>
        <p>last episode aired on <%= show.lastEpisodeToAir.airDate.formatted() %></p>
        
        <div class="col">
            <button value="<%=show.showId%>" data-has-watched="<%=hasWatched%>" class="btn btn-secondary m-2 has-watched-button">
                <%= hasWatched ? "Watched" : "Not Watched" %>
            </button>
        </div>
        
        <div class="col">
            <button value="<%=show.showId%>" data-is-favorite="<%=isFavorite%>" class="btn btn-secondary m-2 is-favorite-button">
                <%= isFavorite ? "Favorite" : "Not Favorite" %>
            </button>
        </div>
        
        <img class="movie-poster" src="<%= fullPosterPath %>" alt="<%= show.showName %>">
        </div>
    </div>

    <script src="shows.js"></script>
    
    <%- include('./partials/footer.ejs') %>
